@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.head{
    background-color: #9b1d1d;
    padding:15px;
}

.head h1{
    text-align: center;
    font-size: 40px;
    color: #fff;
    letter-spacing: 1.5px;
}

.middle{
    background-color: #b73131;
    border-radius: 1rem;
    padding: 40px;
    margin: 100px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.middle h4{
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.middle p{
    color: #f7f7f7;
    font-size: 18px;
    margin-bottom: 30px;

}

.button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #9b1d1d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button:active {
    transform: translateY(-1px);
  }

.foot{
    background-color: #9b1d1d;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot h5{
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 0;
}